$day-size: 100px;
$gap: 1px;
$padding: 10px;
$columns: 7;
$font-size: 30px;
$color-day: #eee;
$color-hover: #ffbfcb;
$color-border: #000;
$transition: 0.5s;
$start-days: (
  'mon': 1,
  'tue': 2,
  'wed': 3,
  'thu': 4,
  'fri': 5,
  'sat': 6,
  'sun': 7,
);
